.banner {
  width: 100%;
  height: 200px;
  background-color: darkslategrey;
}

.left-column {
  width: 20%;
  height: 500px;
  background-color: bisque;
  float: left;
  display: inline-block;
}

.center {
  width: 60%;
  height: 400px;
  background-color: aliceblue;
  display: inline-block;
}

.right-column {
  width: 20%;
  height: 500px;
  background-color: bisque;
  float: right;
  display: inline-block;
}

.footer {
  height: 96px;
  width: 100%;
  background-color: black;
  float: center;
}